<footer class="footer">
  <section class="container">
    {{ if not .Site.Params.hideFooter }}
      {{ if not .Site.Params.hideCopyright }} © {{ .Site.LastChange.Format "2006" }} · {{ end }} <a href="{{ ref . "legal_notice.md" }}">Legal Notice</a> · <a href="{{ ref . "privacy_policy.md" }}">Privacy Policy</a> {{ if not .Site.Params.hideCredits}} {{ if not .Site.Params.hideCopyright }} · {{ end }} Powered by <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/luizdepra/hugo-coder/">Coder</a>. {{ end }}
    {{ end }}
  </section>
</footer>
